@model eCatalog.Core.HandphoneClass.Handphone

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    
    <!--bottom-header-->
    <!--start-breadcrumbs-->
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="available">
                    <ul>
                        <li>
                            Sort
                            <select>
                                <option>Silver</option>
                                <option>Black</option>
                                <option>Dark Black</option>
                                <option>Red</option>
                            </select>
                        </li>

                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="available">
                    <ul>
                        <li>
                            Color
                            <select>
                                <option>Silver</option>
                                <option>Black</option>
                                <option>Dark Black</option>
                                <option>Red</option>
                            </select>
                        </li>

                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--end-breadcrumbs-->
    <!--start-single-->
    <div class="single contact">@*//gua ganti dari single jadi details*@
        <div class="container">
            <div class="singe-main">@*// ini juga*@
                <div class="col-md-12 single-main-left">
                   
    <div class="sngl-top">
        <div class="col-md-5 single-top-left">
            <div class="flexslider">
                <ul class="slides">
                    <li data-thumb="images/s-1.jpg">
                        <div class="thumb-image"> <img src="images/s-1.jpg" data-imagezoom="true" class="img-responsive" alt="" /> </div>
                    </li>
                </ul>
            </div>
            <!-- FlexSlider -->

        </div>
        <div class="col-md-7 single-top-right">
            <div class="single-para simpleCart_shelfItem">
                <h2>Blalala</h2>
                <div class="glyphicons glyphicons-eye-open">
                    <ul class="glyphicons glyphicons-eye-open">
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i> </i></a></li>
                    </ul>
                    <div class="review">
                        <a href="#"> 1 customer review </a>
                        <h3>@Model.Name</h3>
                        <p>huft</p>
                        <h4> <span class=" item_price">Rp. 5.000.000</span></h4>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <ul>
                    <h3 class="col-md-7">Harga Jual</h3>
                    <h3 class="item_price">Harga Beli</h3>
                </ul>
                    <span class=" item_price">Rp.00 </span>
                    <span class=" item_price">Rp. 0000</span>
                <ul>
                    <h5></h5>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                <div class="available">
                    <ul>
                        <li>
                            Color
                            <select>
                                <option>Silver</option>
                                <option>Black</option>
                                <option>Dark Black</option>
                                <option>Red</option>
                            </select>
                        </li>
                        <li class="size-in">
                            Size<select>
                                <option>Large</option>
                                <option>Medium</option>
                                <option>small</option>
                                <option>Large</option>
                                <option>small</option>
                            </select>
                        </li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
              


            </div>
        </div>
        <div class="clearfix"> </div>
    </div>


                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
   </div>