@model eCatalog.ViewModel.HandphoneIndexViewModel

@{
    ViewBag.Title = "Index";
}

@Html.HiddenFor(model => model.BrandId)
	<!--end-breadcrumbs-->
<!--prdt-starts-->
<div class="col-md-12">
    <div class="col-md-3">
        <div class="available">
            <ul>
                <li>
                    Sort
                    <select style="margin-left:10px;" id="dropdown-sort">
                        <option value="0">All</option>
                        <option value="1">Most Seen</option>
                        <option value="2">Lowest Price</option>
                        <option value="3">Highest Price</option>
                    </select>
                </li>


            </ul>
        </div>
    </div>
    <div class="col-md-7">
        <div class="available">
            <div class="form-group">
                <div class="col-md-2">
                    <label for="usr"style="margin-top:20px;margin-left:-20px;">Min Price:</label>
                </div>
                <div class="col-md-4">
                    <input type="number" style="margin-top:7px;margin-left:-10px;height:50px;" class="form-control" id="txt-min-harga">
                </div>
                <div class="col-md-2">
                    <label for="usr" style="margin-top:20px;margin-left:-20px;">Max Price:</label>
                </div>
                <div class="col-md-4">
                    <input type="number" style="margin-top:7px;margin-left:-5px;height:50px;"class="form-control" id="txt-max-harga">
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-2">
      

        <a class="btn btn-block btn-success" type="button" id="btn-search" style="background-color:darkblue;margin-top:27px;" href="#" >Search</a>
    </div>
</div>

<div class="prdt">
    <div class="container">
        <div class="prdt-top" id="div-handphone-items">
            @{ Html.RenderAction("IndexList", new { PageIndex = 0, BrandId = Model.BrandId, sort = 0 });}
        </div>
    </div>
</div>
<!--product-end-->
<br />
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-info btn-toggle-handphone" value="0">Prev</button>
        <button type="button" class="btn btn-info btn-toggle-handphone pull-right" value="1">Next</button>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/Handphone/handphone-jquery.js"></script>
