<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Dashboard</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Assets/css/matrix-style.css" rel="stylesheet" />
    <link href="~/Assets/css/matrix-media.css" rel="stylesheet" />
    <link href="~/Assets/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" />
</head>
<body>

    <!--Header-part-->
    <div id="header">
        <h1><a href="dashboard.html">Phonesia</a></h1>
    </div>
    <!--close-Header-part-->
    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse pull-right">
        @Html.Partial("_LoginPartial")
    </div>


    <!--close-top-serch-->
    <!--sidebar-menu-->
    <div id="sidebar">
        <a href="#" class="visible-phone"><i class="icon icon-info-sign"></i> Error</a>
        <ul>
            @*<li><a href="~/Views/Admin/"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>*@
            <li><a href="@Url.Action("IndexHandphone", "Admin")"><i class="glyphicon glyphicon-phone"></i> <span>Admin Handphone</span></a> </li>
            <li><a href="@Url.Action("IndexBrand", "Admin")"><i class="glyphicon glyphicon-phone"></i> <span>Admin Brand</span></a> </li>
        </ul>
    </div>

    <div id="content">
        <div class="row">
            <div class="col-md-12">
                <div class="widget-box">
                    <div class="widget-content">
                        <div class="container body-content">
                            @RenderBody()
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer-part-->
    <div class="row-fluid">
        <div id="footer" class="span12"> 2017 &copy; DGVS Admin. Brought to you by Lemes.in </div>
    </div>
    <!--end-Footer-part-->
    <script src="~/Assets/js/jquery.min.js"></script>
    <script src="~/Assets/js/jquery.ui.custom.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Assets/js/maruti.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Admin/admin-jquery.js"></script>
</body>

</html>
