@model eCatalog.ViewModel.AdminViewModel.AdminIndexViewModel

@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>Index</h2>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#handphone">Handphone</a></li>
    <li><a data-toggle="tab" href="#brand">Brand</a></li>
</ul>

<div class="tab-content">
    <div id="handphone" class="tab-pane fade in active">
        @{ Html.RenderPartial("_Handphone", Model.Handphone);}
    </div>
    <div id="brand" class="tab-pane fade">
        @{ Html.RenderPartial("_Brand", Model.Brand);}
    </div>
</div>

<script type="text/javascript" src="~/Scripts/Admin/admin-jquery.js"></script>